@font-face {
  font-family: '<link>Josefin Sans</link>';
  src: url('fontes/JosefinSans.ttf') format('truetype');
  /* Adicione outros formatos de fonte, como woff, woff2, etc., conforme necessário */
}

* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: '<link>Josefin Sans</link>';
}

a {
  color: #67B3FF;
}

p {
  margin-left: 15vh;
  margin-right: 15vh;

}
